# Dependency directories
node_modules/
jspm_packages/

# Next.js build output
.next/
out/

# Development/Production environments
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs and databases
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.mongo
*.log
.db/

# IDE / OS specific files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
